
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav class="nav">
                <p class="user">Users</p>
                <div class="dropdown nav-link dropdown-list" style="border-radius: 30%;">
                   <img src="/assets/image/icon.png" width="30px">
                    <div class="dropdown-content">
                      <a href="#"> <span><i class="fa fa-sign-out" aria-hidden="true">Logout</i></span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>